<footer class="center-align">
  <div class="footer-logo">
    <img src="{{ "/assets/images/get-assured-business-logo-white@3x.png" | prepend: site.baseurl }}" class="responsive-img">
  </div>
  <span class="copyright-text">Visit us at 10 Anson Road, #06-24, International Plaza, Singapore 079903</br>Copyright 2018 GetAssured. An initiative of Trunk Tech Pte Ltd. All rights reserved.</span>
</footer>

<!-- Compiled and minified JavaScript -->
<script src="{{ "/assets/js/jquery-3.2.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/materialize.min.js" | prepend: site.baseurl }}"></script>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="{{ "/assets/js/ScrollMagic.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/jquery.vide.min.js" | prepend: site.baseurl }}"></script>
<script>
  $(document).ready(function(){
    //get the height of the nav
    var $navHeight = $('nav').height();

    //init sidenav
    $('.button-collapse').sideNav({
      menuWidth: 300, // Default is 300
      closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
      draggable: true // Choose whether you can drag to open on touch screens
    }
  );
    //init scrollspy
    $('.scrollspy').scrollSpy();

    //scroll magic for
    // var scrollMagicController = new ScrollMagic.Controller();

    // var sticky = new ScrollMagic.Scene({
    //   offset: $navHeight
    // })
    // .setPin('.nav')
    // .setClassToggle('.nav', 'sticky')
    // .addTo(scrollMagicController);

    $(window).scroll(function(){
      if ($(window).scrollTop() > $navHeight){
        $('.nav').addClass('sticky primary-text').removeClass('white-text');
      } else {
        $('.nav').addClass('white-text').removeClass('sticky primary-text');
      }
    });

    if ($(window).scrollTop() > $navHeight){
      $('.nav').addClass('sticky primary-text').removeClass('white-text');
    } else {
      $('.nav').addClass('white-text').removeClass('sticky primary-text');
    }

    $('.modal').modal();

    $('#personalisedFunction').click(function(){
      $('#personalisedBody').slideToggle('slow')
      $('#spendLessBody').hide()
      $('#zeroCostBody').hide()
      $('#hassleFreeBody').hide()
    })
    $('#spendLessFunction').click(function(){
      $('#spendLessBody').slideToggle('slow')
      $('#personalisedBody').hide()
      $('#zeroCostBody').hide()
      $('#hassleFreeBody').hide()
    })
    $('#zeroCostFunction').click(function(){
      $('#zeroCostBody').slideToggle('slow')
      $('#hassleFreeBody').hide()
      $('#personalisedBody').hide()
      $('#spendLessBody').hide()
    })
    $('#hassleFreeFunction').click(function(){
      $('#hassleFreeBody').slideToggle('slow')
      $('#personalisedBody').hide()
      $('#spendLessBody').hide()
      $('#zeroCostBody').hide()
    })

    $('#startup').click(function(){
      $('#startupBody').slideToggle('slow')
      $('#mncBody').hide()
      $('#gigBody').hide()
    //   $('html, body').animate({
    //     scrollTop: $("#startupBody").offset().top
    // }, 1000);
    })

    $('#mnc').click(function(){
      $('#gigBody').hide()
      $('#mncBody').slideToggle('slow')
      $('#startupBody').hide()
    //   $('html, body').animate({
    //     scrollTop: $("#mncBody").offset().top
    // }, 1000);
    })

    $('#gig').click(function(){
      $('#gigBody').slideToggle('slow')
      $('#mncBody').hide()
      $('#startupBody').hide()
    //   $('html, body').animate({
    //     scrollTop: $("#gigBody").offset().top
    // }, 1000);
    })
  });
</script>
{% if page.id == 'index' %}
  <script>
  $(document).ready(function(){
    var $iframe = $('.intro-video');
    var $player = new Vimeo.Player($iframe);
    var $homeHero = $('#homeHero').data('vide').getVideoObject();
    var $homeHeroHeight = $('#homeHero').height();

    $('#videoModal').modal({
      ready: function(modal, trigger) {
        $player.play();
        $homeHero.pause();
      },
      complete: function() {
        $player.unload();
        $homeHero.play();
      }
    });

    $player.on('ended', function() {
      $('#videoModal').modal('close');
    });

    $(window).scroll(function(){
      if ($(window).scrollTop() > $homeHeroHeight){
        $homeHero.pause();
      } else {
        $homeHero.play();
      }
    });
  });
  </script>
{% endif %}
