<nav class="nav white-text">
   <div class="nav-wrapper">
     <a href="{{ site.baseurl }}/" class="brand-logo"></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="{{ site.baseurl }}/how-it-works">How It Works</a></li>
       <li><a href="{{ site.baseurl }}/why-us">Why Us</a></li>
       <li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>
       <li style="margin-right: 1rem"><a href="{{ site.baseurl }}/blog">Blog</a></li>
       <li><a class="btn nav-btn-ghost" href="#contact">Contact Us</a></li>
       <li><a class="btn nav-btn" target="_blank" href="https://goo.gl/forms/6lFfMCFnFKy3bXH72">Get Started</a></li>
     </ul>
      <a href="#" data-activates="sideNav" class="button-collapse hide-on-large"><i class="material-icons">menu</i></a>
   </div>
 </nav>
 <ul id="sideNav" class="side-nav">
   <li><a href="{{ site.baseurl }}/">Home</a></li>
   <li><a href="{{ site.baseurl }}/how-it-works">How It Works</a></li>
   <li><a href="{{ site.baseurl }}/why-us">Why Us</a></li>
   <li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>
   <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
   <li><a class="btn primary-ghost" href="#contact">Contact Us</a></li>
   <li><a class="btn primary" target="_blank" href="https://goo.gl/forms/6lFfMCFnFKy3bXH72">Get Started</a></li>
 </ul>
