footer {
  background-color: #272727;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;

  .footer-logo {
    width: 150px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .copyright-text {
    font-size: 0.8rem;
  }
}
