---
layout: default
---

  <header id="homeHero" class="hero home animated zoomInFade" style="background-image: url('{{ site.baseurl}}/assets/images/get-assured-about-bg.jpg')">
  <!-- Header overlay so we can see the nav clearer -->
  <div class="header-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <h1 class="brand-black-text animated fadeInUp animation-delay-8">Reimagine Employee Benefits</h1>
          <h4 class="brand-black-text regular one-point-eight-lined animated fadeInUp animation-delay-12">The answer to happy, healthy <br />and productive employees <br />begins with us.</h4>
          {% include hero-buttons.html %}
        </div>
      </div>
    </div>
    <div class="white-fade-left"></div>
    <div class="white-fade"></div>
  </header>
  <section class="main-content primary white-text">
    <div class="container-fluid">
      <h3 class="center-align margin-bottom-3" style="font-style: italic;">Who we work with</h3>
      <!-- <h5 class="center-align margin-bottom-3" style="font-style: italic;">​Click here if you are a...</h5> -->
      <ul id="features" class="scrollspy flex-row row employee-benefits">
        <li class="col m4 s12">
          <div class="container-fluid center images" id="startup">
            <a href="#!">
              <h5 class="text-center white-text">Startups, SMEs</h5>
              <img src="{{ "/assets/images/startupnew.png" | prepend: site.baseurl }}">
            </a>
          </div>
        </li>
        <li class="col m4 s12">
          <div class="container-fluid center images" id="mnc">
            <a href="#!">
              <h5 class="text-center white-text">MNC</h5>
              <img src="{{ "/assets/images/MNC.png" | prepend: site.baseurl }}">
            </a>
          </div>
        </li>
        <i class="col m4 s12">
          <div class="container-fluid center images" id="gig">
            <a href="#!">
              <h5 class="text-center white-text">Gig Economy</br>Companies</h5>
              <img src="{{ "/assets/images/gigecon.png" | prepend: site.baseurl }}" style="width: 370px; length: 423px;">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!-- hidden div for first section -->
  {% for issues in page.areyou %}
  <div class="container-fluid margin-top-3 hidden" id="{{ issues.id  | textilize }}Body">
  <!-- <div class="container-fluid margin-top-3" id="{{ issues.id  | textilize }}Body"> -->
    <div class="container">
      <div class="row">
        <h6 class="col m3 s12" style="color:red;">Your Biggest Challenge</h6>
        <ul>
          {% for point in issues.problems %}
          <li class="col m3 s12">
            <p>{{ point.content  | textilize }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- solution for the problem shown above -->
      <div class="row">
        <h6 class="col m3 s12" style="color:blue;">How We Can Help</h6>
        <ul>
          {% for point in issues.problems %}
          <li class="col m3 s12">
            <p>{{ point.solution | textilize }}</p>
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- <p>Request for a demo today to test it yourself!</p> -->
      <hr>
    </div>
  </div>
  {% endfor%}
    <div class="container-fluid">
      <h3 class="center-align white margin-bottom-2 margin-top-3">Features and Services</h3>
      <ul id="features" class="features-accordion scrollspy flex-row row">
        {% for section in page.sections %}
        <li class="col m3 s12" style="justify-content: center">
          <div id="{{ section.id | textilize}}Head">
            <img src="{{section.image | prepend: site.baseurl }}" alt="{{ section.title | textilize }}" class="center">
            <div class="container-fluid center">
              <h6 class="margin-top-1">{{section.title | textilize }}</h6>
              <a href="#!" class="btn primary m3 margin-top-1" id="{{ section.id | textilize }}Function">Read More</a>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% for section in page.sections %}
    <div class="container-fluid margin-top-3 hidden" id="{{ section.id  | textilize }}Body">
      <div class="container">
        <div class="row">
          <div class="col s12 m5 push-m7">
            {% for point in section.points %}
            <div class="collapse-list">
              <p>{{ point.content  | textilize }}</p>
            </div>
            {% endfor %}
          </div>
          <div class="col s12 m6 pull-m6 offset-m1">
            <div class="screenshot">
              <img src="{{ section.screen | prepend: site.baseurl }}" class="responsive-img materialboxed">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor%}
  {% include video-modal.html %}
  <div class="container">
    <hr class="margin-top-3">
  </div>
  {% include cta.html %}
  <section class="image-section" style="background-image: url({{ "/assets/images/get-assured-contact-bg.jpg" | prepend: site.baseurl }})"></section>
  <section class="primary white-text">
    <div class="container">
      <div class="row">
        <div class="col m6">
          <h3>We are GetAssured</h3>
          <h5 class="italic" style="margin-top: 1rem">"We believe in helping you achieve a happier workforce without breaking the bank."</h5>
        </div>
      </div>
      <a href="{{ site.baseurl }}/why-us" class="btn white-ghost-primary">Learn More</a>
      <a href="{{ site.baseurl }}/faqs" class="btn white-primary">FAQs</a>
    </div>
  </section>
