---
layout: default
---

  <header id="homeHero" class="hero home animated zoomInFade" data-vide-bg="mp4: assets/videos/getassured-biz-bg.mp4, webm: assets/videos/getassured-biz-bg.webm, poster: assets/images/getassured-biz-bg-mobile
  .jpg"
  data-vide-options="posterType: jpg, loop: true, muted: true, position: 0% 0%, className: videbg">
  <!-- Header overlay so we can see the nav clearer -->
  <div class="header-overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <h1 class="brand-black-text animated fadeInUp animation-delay-8">Reimagine Employee Benefits</h1>
          <h4 class="brand-black-text regular one-point-eight-lined animated fadeInUp animation-delay-12">The answer to happy, healthy <br />and productive employees <br />begins with us.</h4>
          {% include hero-buttons.html %}
        </div>
      </div>
    </div>
    <div class="white-fade-left"></div>
    <div class="white-fade"></div>
  </header>
  <div class="white margin-bottom-2">
    <div class="animated fadeIn animation-delay-28">
      <div class="container">
        <h5 class="center-align">Find out how we can help you achieve better harmony in the workplace.</h5>
        <p class="center-align hide-on-small-only"><a href="#features"><i class="material-icons animation loop float">keyboard_arrow_down</i></a></p>
      </div>
    </div>
  </div>
  {% include video-modal.html %}
  <ul id="features" class="collapsible features-accordion scrollspy" data-collapsible="accordion">
    {% for section in page.sections %}
      {% assign mod = forloop.index | modulo: 2 %}
      {% if mod != 0 %}
        <!-- layout for odd numbered  -->
        <li>
          <div class="collapsible-header" id="{{ section.id  | textilize }}Head">
            <div class="row flex-row">
              <div class="col s12 m6 push-m6 collapse-header-content" style="background-image: url({{ section.image | prepend: site.baseurl }})"></div>
              <div class="col s12 m5 pull-m6 collapse-header-content">
                <div class="container">
                  <h3>{{ section.title  | textilize }}</h3>
                  <p>{{ section.content  | textilize }}</p>
                  <a href="#!" class="btn primary-ghost">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body" id="{{ section.id  | textilize }}Body" >
            <div class="container">
              <div class="row">
                <div class="col s12 m5 push-m7 collapse-content">
                  {% for point in section.points %}
                    <div class="collapse-list">
                      <p>{{ point.content  | textilize }}</p>
                    </div>
                  {% endfor %}
                </div>
                <div class="col s12 m6 pull-m6 offset-m1 collapse-content">
                  <div class="screenshot">
                    <img src="{{ section.screen | prepend: site.baseurl }}" class="responsive-img materialboxed">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% else %}
        <!-- layout for even numbered  -->
        <li>
          <div class="collapsible-header" id="{{ section.id  | textilize }}Head">
            <div class="row flex-row">
              <div class="col s12 m6 collapse-header-content" style="background-image: url({{ section.image | prepend: site.baseurl }})"></div>
              <div class="col s12 m5 pull-m1 collapse-header-content">
                <div class="container">
                  <h3>{{ section.title  | textilize }}</h3>
                  <p>{{ section.content  | textilize }}</p>
                  <a href="#!" class="btn primary-ghost">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="collapsible-body" id="{{ section.id  | textilize }}Body" >
            <div class="container">
              <div class="row">
                <div class="col s12 m5 collapse-content">
                  {% for point in section.points %}
                    <div class="collapse-list">
                      <p>{{ point.content  | textilize }}</p>
                    </div>
                  {% endfor %}
                </div>
                <div class="col s12 m6 offset-m1 collapse-content">
                  <div class="screenshot">
                    <img src="{{ section.screen | prepend: site.baseurl }}" class="responsive-img materialboxed">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  {% include cta.html %}
  <section class="image-section" style="background-image: url({{ "/assets/images/get-assured-contact-bg.jpg" | prepend: site.baseurl }})"></section>
  <section class="primary white-text">
    <div class="container">
      <div class="row">
        <div class="col m6">
          <h3>We are GetAssured</h3>
          <h5 class="italic" style="margin-top: 1rem">"We believe in helping you achieve a happier workforce without breaking the bank."</h5>
        </div>
      </div>
      <a href="{{ site.baseurl }}/why-us" class="btn white-ghost-primary">Learn More</a>
      <a href="{{ site.baseurl }}/faqs" class="btn white-primary">FAQs</a>
    </div>
  </section>
